# Python virtual environment
dbt-env/

# Personal notes
notes.txt

# dbt
nba_dbt/target/
nba_dbt/dbt_packages/
nba_dbt/logs/

# Evidence
dashboard/node_modules/
dashboard/.evidence/
dashboard/build/

# Credentials
**/*.options.yaml
